<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Kalyan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="assets/kalyanlogo.png" type="image/x-icon">

    <style>
        .not_active {
            display: none;
        }

        .active {
            display: block;
        }
    </style>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/forgotPass.css">
</head>

<body>
    <div class="loginContainer">
        <div class="form-box login">
            <form id="login-form" method="post">
                <h1>Welcome!</h1>
                <div class="input-box">
                    <input type="email" placeholder="Email" required id="login-email">
                    <i class='fa-solid fa-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" required id="login-password">
                    <i class='fa-solid fa-lock'></i>
                </div>
                <a href="/forgotPass" class="forgotPass">Forgot Password?</a>
                <button type="submit" class="loginButton" id="loginButton">Login</button>
                <div class="signup" style="text-align: center;">
                    <p>Did not have any account? <span><a href="/signup" style="color: white;">Sign up</a></span></p>
                </div>
            </form>
        </div>
    </div>

    <script type="module">
        import { loginUser, forgotPassword } from "./js/auth.js";
        document.addEventListener("DOMContentLoaded", () => {
            const loginForm = document.getElementById("login-form");
            if (!loginForm) {
                console.error("Login form not found!");
                return;
            }

            loginForm.addEventListener("submit", async (event) => {
                event.preventDefault();

                const email = document.getElementById("login-email").value.trim();
                const password = document.getElementById("login-password").value.trim();

                if (!email || !password) {
                    alert("Please enter both email and password.");
                    return;
                }

                await loginUser(email, password);
            });
        });
    </script>

</body>

</html>