<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reg.css">
    <link rel="shortcut icon" href="assets/kalyanlogo.png" type="image/x-icon">

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <title>Registration Form</title>
</head>

<body>
    <h2>Registration Form</h2>
    <div class="regContainer">
        <div class="regBox">
            <div class="Formdetails">
                <img src="../assets/scholarshipLogo.jpg" alt="img">
                <div class="textData" style="flex: 2;">
                    <p class="HeaderDetails">Your Knowledge is the gateway to your success.</p>
                    <p class="HeaderText">By kalyan Educational and Charitable Trust</p>
                </div>
            </div>

            <div class="step-header">
                <button onclick="gotoStep(1)" id="btn1" class="active ">Personal Details</button>
                <button onclick="gotoStep(2)" id="btn2">Academic Details</button>
                <button onclick="gotoStep(3)" id="btn3">Upload Documents</button>
                <button onclick="gotoStep(4)" id="btn4">Final Submit</button>
            </div>

            <form id="registrationForm">

                <!-- Step 1: Personal Details -->
                <div class="form-step active" id="step1">
                    <h3>Personal & Address Details</h3>
                    <div class="nameBox flex">
                        <label>*First Name: <input type="text" id="firstName" required></label>
                        <label>Middle Name: <input type="text" id="middleName"></label>
                        <label>*Last Name: <input type="text" id="lastName" required></label>
                    </div>
                    <div class="mobileAndEmail flex">
                        <label>*Email: <input type="email" id="email" required></label>
                        <label>*Mobile Number: <input type="tel" id="mobile" required></label>
                        <label>Whatsapp Number: <input type="tel" id="Wmobile"></label>
                    </div>
                    <div class="aadharInp flex">
                        <label>*Aadhaar Number: <input type="text" id="aadhaar" name="aadhaar" required
                                oninput="validateAadhaar(this)"></label>
                        <p id="aadhaarError" style="color: red; display: none;">Aadhaar number must be exactly 12
                            digits.</p>
                        <label>Father's Income (Annual):
                            <select id="fatherIncome" required>
                                <option value="default">---select---</option>
                                <option value="below1L">Below ₹1,00,000</option>
                                <option value="between1-2d5Lakh">₹1,00,000 - ₹2,50,000</option>
                                <option value="between2d5-5Lakh">₹2,50,000 - ₹5,00,000</option>
                                <option value="between5-10Lakh">₹5,00,000 - ₹10,00,000</option>
                                <option value="above10L">Above ₹10,00,000</option>
                            </select>
                        </label>
                    </div>
                    <div class="addressBox flex">
                        <label>*Address: <input type="text" id="address" required></label>
                        <label>*City: <input type="text" id="city" required></label>
                        <label>*State: <input type="text" id="state" required></label>
                        <label>*Pincode: <input type="number" id="pincode" required></label>
                    </div>
                    <div class="buttons">
                        <button type="button"
                            onclick="if(validateDropdown('fatherIncome')) validateStep(1, 2)">Next</button>
                    </div>
                </div>

                <!-- Step 2: Academic Details -->
                <div class="form-step " id="step2">
                    <h3>Academic Details</h3>
                    <div class="schoolDetails flex">
                        <label>*School Name: <input type="text" id="schoolName" required></label>
                        <label>*School Address: <input type="text" id="schoolAddress" required></label>
                        <label>*School City <input type="text" id="cchoolCity" required></label>
                    </div>
                    <div class="moreschoolDetails flex">
                        <label>School Type:
                            <select id="schoolTypes" required>
                                <option value="default">---select---</option>
                                <option value="Govt">Government</option>
                                <option value="hgovt">Half Governmnet</option>
                                <option value="pvt">Private</option>
                            </select>
                        </label>
                        <label>*Board:
                            <select id="schoolBoard" required>
                                <option value="default">---select---</option>
                                <option value="GSEB">GSEB</option>
                                <option value="CBSE">CBSE</option>
                                <option value="ICSE">ICSE</option>
                                <option value="Other">Other</option>
                            </select>
                        </label>
                    </div>
                    <div class="personalAcademicDetails flex">

                        <label>*Medium:
                            <select id="schoolMedium" required>
                                <option value="default">---select---</option>
                                <option value="gujM">Gujrati</option>
                                <option value="engM">English</option>
                                <option value="Other">Other</option>
                            </select>
                        </label>
                        <label>*Last Standered Percentage: <input type="text" id="lastMarks" required></label>
                    </div>
                    <label>*Desired Stream After 10th: <input type="text" id="stream" required
                            placeholder="If not decided type NONE"></label>
                    <label>*Career Aspirations: <input type="text" id="careerAspirations" required
                            placeholder="If not decided type NONE"></label>
                    <div class="buttons">
                        <button type="button" onclick="prevStep(1)">Previous</button>
                        <button type="button"
                            onclick="if(validateDropdown('schoolTypes')) if(validateDropdown('schoolBoard')) if(validateDropdown('schoolMedium')) validateStep(2, 3)"> Next</button>

                    </div>
                </div>

                <!-- Step 3: Document Upload -->
                <div class="form-step" id="step3">
                    <h3>Upload Documents</h3>
                    <label>*Aadhaar Card: <input type="file" accept=".pdf,.jpg,.jpeg,.png" id="aadhaarFile" required
                            oninput="validateFileSize(this)"></label>
                    <label>*Passport Size Photo: <input type="file" accept=".jpg,.jpeg,.png" id="photographFile"
                            required oninput="validateFileSize(this)"></label>
                    <label>*Signature: <input type="file" accept=".jpg,.jpeg,.png" id="signatureFile" required
                            oninput="validateFileSize(this)"></label>
                    <label>*Last Year Marksheet: <input type="file" accept=".pdf,.jpg,.jpeg,.png"
                            id="schoolbonafideFile" required oninput="validateFileSize(this)"></label>
                    <label>Income Certificate: <input type="file" accept=".pdf,.jpg,.jpeg,.png"
                            id="incomecertificateFile" oninput="validateFileSize(this)"></label>
                    <label>Disability Certificate (if applicable): <input type="file" id="DisabilityCertificateFile"
                            accept=".pdf,.jpg,.jpeg,.png" oninput="validateFileSize(this)"></label>
                    <p id="file-size-error"></p>
                    <div class="buttons">
                        <button type="button" onclick="prevStep(2)">Previous</button>
                        <button type="button" onclick="validateStep(3, 4)">Next</button>
                    </div>
                </div>

                <!-- Step 4: Review and Submit -->
                <div class="form-step " id="step4">
                    <h3>Payment for Registration</h3>

                    <p>Registration Fee: ₹300</p>
                    <p>Payment Gateway: Razorpay</p>
                    <p>Note: Please ensure all details are correct before proceeding.</p>
                    <p>By clicking "Final Submit", you agree to the terms and conditions of the scholarship.</p>
                    <div style="margin: 5px; display: flex;">
                        <input type="checkbox" id="confirmDetails" required>
                        <label for="confirmDetails">
                            <span for="dataConsent">I consent to the collection and processing of my data for
                                registration and scholarship purposes.</span>
                        </label>
                    </div>
                    <div style="margin: 5px; display: flex;">
                        <input type="checkbox" id="confirmDetails" required>
                        <label for="confirmDetails">
                            <span>I confirm that all the details provided above are true and correct to the best of my
                                knowledge.</span>
                        </label>
                    </div>

                    <!-- Gotta be something -->
                    <div class="buttons">
                        <button type="button" onclick="gotoStep(3)">Previous</button>
                        <button id="pay-btn">Final Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Firebase App -->
    <script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-app-compat.js"></script>

    <!-- Firebase Auth -->
    <script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-auth-compat.js"></script>

    <!-- Your Firebase config -->
    <script>
        const firebaseConfig = {
            apiKey: "YOUR_KEY",
            authDomain: "yourapp.firebaseapp.com",
            projectId: "yourapp",
            storageBucket: "yourapp.appspot.com",
            messagingSenderId: "SENDER_ID",
            appId: "APP_ID"
        };

        firebase.initializeApp(firebaseConfig);
    </script>

    <!-- Your custom JS -->
    <!-- <script src="registration.js"></script> -->

    <script type="module" src="/js/form.js"></script>
    <script src="/js/payment.js"></script>
</body>

</html>